In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('sphist.csv')

In [3]:
df.head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068
1,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941
2,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117
3,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010
4,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883

In [4]:
# sphist-- sp500
# open là giá mở bán
# close là giá cuối ngày
# high là giá cổ phiếu cao nhất trong ngày
# low là giá cổ phiếu thấp nhất trong ngày
# volume khối lượng giao dịch

In [5]:
# những bước phụ trợ -- tạo thêm feature
# giá trị cổ phiếu một ngày tương lai không thể chênh lệch quá lớn nếu không có quá trình gì đó ảnh hưởng quá lớn

In [6]:
# đưa cột date về datetime
# sắp xếp date theo thứ tự tăng dần

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16590 entries, 0 to 16589
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       16590 non-null  object
 1   Open       16590 non-null  float64
 2   High       16590 non-null  float64
 3   Low        16590 non-null  float64
 4   Close      16590 non-null  float64
 5   Volume     16590 non-null  float64
 6   Adj Close  16590 non-null  float64
dtypes: float64(6), object(1)
memory usage: 907.4+ KB

In [8]:
df['Date'] = pd.to_datetime(df['Date'])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16590 entries, 0 to 16589
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       16590 non-null  datetime64[ns]
 1   Open       16590 non-null  float64
 2   High       16590 non-null  float64
 3   Low        16590 non-null  float64
 4   Close      16590 non-null  float64
 5   Volume     16590 non-null  float64
 6   Adj Close  16590 non-null  float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 907.4 KB

In [10]:
df = df.sort_values(by = 'Date', ascending = True)

In [11]:
df.reset_index(inplace = True, drop = True)

In [12]:
df

,Date,Open,High,Low,Close,Volume,Adj Close
0,1950-01-03,16.660000,16.660000,16.660000,16.660000,1.260000e+06,16.660000
1,1950-01-04,16.850000,16.850000,16.850000,16.850000,1.890000e+06,16.850000
2,1950-01-05,16.930000,16.930000,16.930000,16.930000,2.550000e+06,16.930000
3,1950-01-06,16.980000,16.980000,16.980000,16.980000,2.010000e+06,16.980000
4,1950-01-09,17.080000,17.080000,17.080000,17.080000,2.520000e+06,17.080000
...,...,...,...,...,...,...,...
16585,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883
16586,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010
16587,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117
16588,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941
16589,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068

In [13]:
# lệnh iterrows() là lệnh cho phép đi qua tất cả các hàng

In [14]:
# du lieu cua 5 ngay gan nhat
# 2015-12-07 mình muốn biết giá trung bình 'close' của 5 ngày gần nhất là bao nhiêu

# for index, row in df.iterrows():
#     i_5 = index - 5
#     tmp = df.iloc[i_5:index]['Close'].mean()

index = 16589
i_5 = index - 5
tmp = df.iloc[i_5:index]['Close'].mean()
tmp

2080.7719726000005

In [15]:
pre_5_avg = []
for index, row in df.iterrows():
    if index < 5:
        pre_5_avg.append(0)
    else:
        i_5 = index - 5
        tmp = df.iloc[i_5:index]['Close'].mean()
        pre_5_avg.append(tmp)

In [16]:
pre_5_avg[:10]

[0, 0, 0, 0, 0, 16.9, 16.9740002, 17.0220002, 16.988000200000002, 16.9260002]

In [17]:
df['Pre_Close_5_avg'] = pre_5_avg

In [18]:
df

,Date,Open,High,Low,Close,Volume,Adj Close,Pre_Close_5_avg
0,1950-01-03,16.660000,16.660000,16.660000,16.660000,1.260000e+06,16.660000,0.000000
1,1950-01-04,16.850000,16.850000,16.850000,16.850000,1.890000e+06,16.850000,0.000000
2,1950-01-05,16.930000,16.930000,16.930000,16.930000,2.550000e+06,16.930000,0.000000
3,1950-01-06,16.980000,16.980000,16.980000,16.980000,2.010000e+06,16.980000,0.000000
4,1950-01-09,17.080000,17.080000,17.080000,17.080000,2.520000e+06,17.080000,0.000000
...,...,...,...,...,...,...,...,...
16585,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883,2087.024023
16586,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010,2090.231982
16587,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117,2088.306006
16588,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941,2080.456006
16589,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068,2080.771973

In [19]:
# thường là lấy 5 ngày gần nhất
# đó là kinh nghiệm

In [20]:
# Pre_30_avg --> Close

In [21]:
Pre_30_avg = []
for index, row in df.iterrows():
    if index < 30:
        Pre_30_avg.append(0)
    else:
        i_30 = index - 30
        tmp = df.iloc[i_30:index]['Close'].mean()
        Pre_30_avg.append(tmp)

In [22]:
df['Pre_Close_30_avg'] = Pre_30_avg

In [23]:
df

,Date,Open,High,Low,Close,Volume,Adj Close,Pre_Close_5_avg,Pre_Close_30_avg
0,1950-01-03,16.660000,16.660000,16.660000,16.660000,1.260000e+06,16.660000,0.000000,0.000000
1,1950-01-04,16.850000,16.850000,16.850000,16.850000,1.890000e+06,16.850000,0.000000,0.000000
2,1950-01-05,16.930000,16.930000,16.930000,16.930000,2.550000e+06,16.930000,0.000000,0.000000
3,1950-01-06,16.980000,16.980000,16.980000,16.980000,2.010000e+06,16.980000,0.000000,0.000000
4,1950-01-09,17.080000,17.080000,17.080000,17.080000,2.520000e+06,17.080000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...
16585,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883,2087.024023,2073.984998
16586,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010,2090.231982,2076.283993
16587,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117,2088.306006,2077.908659
16588,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941,2080.456006,2078.931331
16589,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068,2080.771973,2080.237329

In [24]:
# tính standard deviation 
# Pre_5_std, Pre_30_std

In [25]:
Pre_5_std = []
for index, row in df.iterrows():
    if index < 5:
        Pre_5_std.append(0)
    else:
        i_5 = index - 5
        tmp = df.iloc[i_5:index]['Close'].std()
        Pre_5_std.append(tmp)

In [26]:
df['Pre_Close_5_std'] = Pre_5_std

In [27]:
df

,Date,Open,High,Low,Close,Volume,Adj Close,Pre_Close_5_avg,Pre_Close_30_avg,Pre_Close_5_std
0,1950-01-03,16.660000,16.660000,16.660000,16.660000,1.260000e+06,16.660000,0.000000,0.000000,0.000000
1,1950-01-04,16.850000,16.850000,16.850000,16.850000,1.890000e+06,16.850000,0.000000,0.000000,0.000000
2,1950-01-05,16.930000,16.930000,16.930000,16.930000,2.550000e+06,16.930000,0.000000,0.000000,0.000000
3,1950-01-06,16.980000,16.980000,16.980000,16.980000,2.010000e+06,16.980000,0.000000,0.000000,0.000000
4,1950-01-09,17.080000,17.080000,17.080000,17.080000,2.520000e+06,17.080000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
16585,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883,2087.024023,2073.984998,3.916109
16586,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010,2090.231982,2076.283993,7.956808
16587,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117,2088.306006,2077.908659,9.333599
16588,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941,2080.456006,2078.931331,19.599946
16589,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068,2080.771973,2080.237329,19.806136

In [28]:
Pre_30_std = []
for index, row in df.iterrows():
    if index < 30:
        Pre_30_std.append(0)
    else:
        i_30 = index - 30
        tmp = df.iloc[i_30:index]['Close'].std()
        Pre_30_std.append(tmp)

In [29]:
df['Pre_Close_30_std'] = Pre_30_std

In [30]:
df

,Date,Open,High,Low,Close,Volume,Adj Close,Pre_Close_5_avg,Pre_Close_30_avg,Pre_Close_5_std,Pre_Close_30_std
0,1950-01-03,16.660000,16.660000,16.660000,16.660000,1.260000e+06,16.660000,0.000000,0.000000,0.000000,0.000000
1,1950-01-04,16.850000,16.850000,16.850000,16.850000,1.890000e+06,16.850000,0.000000,0.000000,0.000000,0.000000
2,1950-01-05,16.930000,16.930000,16.930000,16.930000,2.550000e+06,16.930000,0.000000,0.000000,0.000000,0.000000
3,1950-01-06,16.980000,16.980000,16.980000,16.980000,2.010000e+06,16.980000,0.000000,0.000000,0.000000,0.000000
4,1950-01-09,17.080000,17.080000,17.080000,17.080000,2.520000e+06,17.080000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
16585,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883,2087.024023,2073.984998,3.916109,24.654181
16586,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010,2090.231982,2076.283993,7.956808,23.970453
16587,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117,2088.306006,2077.908659,9.333599,22.378095
16588,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941,2080.456006,2078.931331,19.599946,20.183769
16589,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068,2080.771973,2080.237329,19.806136,19.676415

In [31]:
# lấy trung bình và độ lệch của 5 ngày và 3 ngày như trên nhưng là volume

In [32]:
Pre_volume_5_std = []
Pre_volume_5_avg = []

for index, row in df.iterrows():
    if index < 5:
        Pre_volume_5_std.append(0)
        Pre_volume_5_avg.append(0)
        
    else:
        # gia tri trung binh va lech của 5 ngày gần nhất
        i_5 = index - 5
            
#         giá trị lệch
        tmp_std = df.iloc[i_5:index]['Volume'].std()
        Pre_volume_5_std.append(tmp_std)  
        
#         giá trị trung bình
        tmp_avg = df.iloc[i_5:index]['Volume'].mean()
        Pre_volume_5_avg.append(tmp_avg) 
        
df['Pre_volume_5_std'] = Pre_volume_5_std 
df['Pre_volume_5_avg'] = Pre_volume_5_avg


Pre_volume_30_std = []
Pre_volume_30_avg = []

for index, row in df.iterrows():
    if index < 30:
        Pre_volume_30_std.append(0)
        Pre_volume_30_avg.append(0)
    else:
        # gia tri trung binh va lech của 5 ngày gần nhất
        i_30 = index - 30
            
#         giá trị lệch
        tmp_std = df.iloc[i_30:index]['Volume'].std()
        Pre_volume_30_std.append(tmp_std)  
        
#         giá trị trung bình
        tmp_avg = df.iloc[i_30:index]['Volume'].mean()
        Pre_volume_30_avg.append(tmp_avg) 
        
df['Pre_volume_30_std'] = Pre_volume_30_std
df['Pre_volume_30_avg'] = Pre_volume_30_avg

In [33]:
# them mot feature ratio pre_close_5_avg/pre_close_30_avg ratio_pre_5_over_3_avg

In [34]:
df['Pre_Close_30_avg'] = df['Pre_Close_30_avg'] + 0.001

In [35]:
df['ratio_pre_5_over_3_avg'] = df['Pre_Close_5_avg'] / df['Pre_Close_30_avg']

In [36]:
df

,Date,Open,High,Low,Close,Volume,Adj Close,Pre_Close_5_avg,Pre_Close_30_avg,Pre_Close_5_std,Pre_Close_30_std,Pre_volume_5_std,Pre_volume_5_avg,Pre_volume_30_std,Pre_volume_30_avg,ratio_pre_5_over_3_avg
0,1950-01-03,16.660000,16.660000,16.660000,16.660000,1.260000e+06,16.660000,0.000000,0.001000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
1,1950-01-04,16.850000,16.850000,16.850000,16.850000,1.890000e+06,16.850000,0.000000,0.001000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
2,1950-01-05,16.930000,16.930000,16.930000,16.930000,2.550000e+06,16.930000,0.000000,0.001000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
3,1950-01-06,16.980000,16.980000,16.980000,16.980000,2.010000e+06,16.980000,0.000000,0.001000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
4,1950-01-09,17.080000,17.080000,17.080000,17.080000,2.520000e+06,17.080000,0.000000,0.001000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16585,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883,2087.024023,2073.985998,3.916109,24.654181,1.099518e+09,3.207544e+09,5.985570e+08,3.842181e+09,1.006286
16586,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010,2090.231982,2076.284993,7.956808,23.970453,1.111591e+09,3.232372e+09,5.899408e+08,3.856341e+09,1.006717
16587,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117,2088.306006,2077.909659,9.333599,22.378095,1.121578e+09,3.245514e+09,5.817195e+08,3.876979e+09,1.005003
16588,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941,2080.456006,2078.932331,19.599946,20.183769,1.181180e+09,3.536224e+09,5.848831e+08,3.899603e+09,1.000733
16589,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068,2080.771973,2080.238329,19.806136,19.676415,2.493154e+08,4.085838e+09,5.794230e+08,3.892405e+09,1.000257

In [37]:
df.Date.max()

Timestamp('2015-12-07 00:00:00')

In [38]:
df.Date.min()

Timestamp('1950-01-03 00:00:00')

In [39]:
# BackTesting

# train, test
from datetime import datetime 

train = df[df.Date < datetime(year = 2013, month = 1, day = 1)]
test = df[df.Date >= datetime(year = 2013, month = 1, day = 1)]

In [40]:
train.shape

(15851, 16)

In [41]:
test.shape

(739, 16)

In [42]:
train.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close',
       'Pre_Close_5_avg', 'Pre_Close_30_avg', 'Pre_Close_5_std',
       'Pre_Close_30_std', 'Pre_volume_5_std', 'Pre_volume_5_avg',
       'Pre_volume_30_std', 'Pre_volume_30_avg', 'ratio_pre_5_over_3_avg'],
      dtype='object')

In [43]:
selected_cols = ['Pre_Close_5_avg', 'Pre_Close_5_std', 'Pre_Close_30_avg', 
       'Pre_Close_30_std', 'Pre_volume_5_std', 'Pre_volume_5_avg',
       'Pre_volume_30_std', 'Pre_volume_30_avg', 'ratio_pre_5_over_3_avg']

In [44]:
df[selected_cols].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16590 entries, 0 to 16589
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Pre_Close_5_avg         16590 non-null  float64
 1   Pre_Close_5_std         16590 non-null  float64
 2   Pre_Close_30_avg        16590 non-null  float64
 3   Pre_Close_30_std        16590 non-null  float64
 4   Pre_volume_5_std        16590 non-null  float64
 5   Pre_volume_5_avg        16590 non-null  float64
 6   Pre_volume_30_std       16590 non-null  float64
 7   Pre_volume_30_avg       16590 non-null  float64
 8   ratio_pre_5_over_3_avg  16590 non-null  float64
dtypes: float64(9)
memory usage: 1.1 MB

In [45]:
# train[selected_cols]

In [46]:
X = df[selected_cols].copy()
y = df['Close']

In [47]:
X = X.fillna(0)
y = y.fillna(0)

In [48]:
# training a linear regression model
from sklearn.linear_model import LinearRegression

model = LinearRegression()

# -- X là những feature để huấn luyện --> train[selected_cols]
# -- Y là những label ứng với từng Row --> train['Close']

# fitting
model.fit(X, y)

LinearRegression()

In [49]:
# mỗi mô hình đều có thông số (gọi là thông số tự do)

In [50]:
## prediction
predictions = model.predict(test[selected_cols])

In [51]:
# # predictions
from sklearn.metrics import mean_absolute_error
mea =  mean_absolute_error(test['Close'], predictions)

# # ground truth value -- giá trị thực
# # giá trị dự báo
# metric_xyz(X, Y)

predictions[:10]

array([1419.12507581, 1424.00999673, 1431.36576016, 1441.13764965,
       1455.04113417, 1463.82263379, 1463.52596555, 1465.81836565,
       1466.81891347, 1468.69525859])

In [52]:
test['Close'][:10]

15851    1462.420044
15852    1459.369995
15853    1466.469971
15854    1461.890015
15855    1457.150024
15856    1461.020020
15857    1472.119995
15858    1472.050049
15859    1470.680054
15860    1472.339966
Name: Close, dtype: float64

In [53]:
mea

16.15604085049533